.cb {
  margin: 8px 0;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 0 0 1px #e6e8ec;
  padding: 12px 16px 16px;
  overflow: hidden;
}

.cbHead {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: -12px -16px 0;
  padding: 10px 12px 10px 16px;
  border-bottom: 0.5px solid #e6e8ec;
}

.cbFile {
  display: inline-flex;
  align-items: center;
  gap: 7px;
}

.cbIcon {
  color: #a1a1a1;
  flex: none;
}

.cbLang {
  font-family: ui-monospace, monospace;
  font-size: 12.5px;
  line-height: 1;
  color: #1a1a1a;
}

.cbCopy {
  margin-left: auto;
  margin-top: -7px;
  margin-bottom: -7px;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  font-size: 12px;
  color: #a1a1a1;
  border: 0;
  background: none;
  padding: 3px 3px 3px 7px;
  border-radius: 7px;
  cursor: pointer;
}

.cbCopy:hover {
  color: #1a1a1a;
  background: #f4f5f7;
}

.cbBody {
  position: relative;
  margin: 0 -16px -16px;
  padding: 10px 0;
  font-family: ui-monospace, monospace;
  font-size: 12.5px;
  line-height: 20px;
}

.cbBody::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 32px;
  width: 0.5px;
  background: #e6e8ec;
}

.cbRow {
  display: grid;
  grid-template-columns: 32px 1fr;
}

.cbLn {
  user-select: none;
  text-align: right;
  padding: 0 7px;
  color: #a1a1a1;
  font-size: 11px;
}

.cbCode {
  white-space: pre;
  padding: 0 12px 0 8px;
  color: #1a1a1a;
  overflow-x: auto;
  scrollbar-width: none;
}

.cbCode::-webkit-scrollbar {
  display: none;
}

:global([data-theme='dark']) .cb {
  background: #1a1a1a;
  box-shadow: 0 0 0 1px #303030;
}

:global([data-theme='dark']) .cbHead {
  border-bottom-color: #303030;
}

:global([data-theme='dark']) .cbLang {
  color: #f5f5f5;
}

:global([data-theme='dark']) .cbCopy:hover {
  color: #f5f5f5;
  background: #242424;
}

:global([data-theme='dark']) .cbBody::before {
  background: #303030;
}

:global([data-theme='dark']) .cbCode {
  color: #f5f5f5;
}
